{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Django 1</title>
</head>
<body>
    <center>
        <h1>Index</h1>
        <img src="{% static 'images/django.png' %}" alt="Logo Django" height="150px" width="250px">
        <h2>{{ comunidade }} - {{ projeto }}</h2>

        {% for aula in aulas %}
            <a href="{% url 'aula' aula.id %}">{{ aula.titulo }}</a>
            <p>{{ aula.nota }}</p>
            <p>{{ aula.participantes }}</p>
        {% endfor %}

        {% for aluno in alunos %}
            <p>{{ aluno.nome }} {{ aluno.sobrenome }}</p>
            <p>{{ aluno.email }}</p>
        {% endfor %}

    </center>
</body>
</html>